.mainInfo {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.city {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
}

.country {
    font-size: 20px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.condition {
    font-size: 24px;
}

.current {
    font-size: 38px;
    font-weight: bold;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
    .mainInfo {
        flex-direction: row;
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .mainInfo {
        flex-direction: column;
        width: auto;
        height: auto;
        padding: auto;
    }
}

@media screen and (max-width: 480px) {
    .mainInfo {
        flex-direction: column;
        width: auto;
        height: auto;
        padding: auto;
    }
}