.weatherContainer {
    width: 500px;
    height: 500px;
    margin: 150px auto;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
    .weatherContainer {
        flex-direction: row;
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .weatherContainer {
        flex-direction: column;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .weatherContainer {
        flex-direction: column;
        width: auto;
        height: auto;
    }
}